<div class="about-contact-div">

    <header class="contact-about-header text-white bg-dark py-3">
        <div class="container">
            <h1 class="text-center display-4 fw-normal" >About Us</h1>
        </div>
    </header>

    <!-- Content -->
    <div class="content container">
        <h2 class="text-center mb-5" style="white-space: pre-line;">Welcome to TechSphere,
            your go-to source for all things tech!</h2>
        <div class="flex row my-5 justify-items-center align-items-center">
            <div class="col-lg-8">
                <p>At TechSphere, we're passionate about technology and dedicated to keeping you informed. Our mission
                    is to provide you with the latest tech news, insightful articles, and practical guides to help you
                    navigate the ever-changing world of technology.</p>
                <p>From cutting-edge innovations to emerging trends, we curate and share in-depth analysis,
                    thought-provoking insights, and expert opinions on a wide range of topics, including artificial
                    intelligence, cybersecurity, smart devices, emerging technologies, and more.</p>
                <p>Whether you're a tech enthusiast, a gadget lover, or simply curious about the latest trends,
                    TechSphere has
                    you covered. We aim to simplify complex concepts, showcase emerging technologies, and deliver
                    unbiased
                    reviews to assist you in making informed decisions.</p>
                <p>Join our thriving community of tech enthusiasts, where you can engage in discussions, share your
                    thoughts, and learn from like-minded individuals. Connect with us through our website and social
                    media channels to stay up-to-date with the latest tech news, exclusive content, and exciting
                    giveaways.</p>

            </div>
            <div class="col-lg-4 mb-5">
                <img src="/images/team.png" alt="About Us Image" class="img-fluid about-img">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row feature">
                    <div class="col-lg-3 feature-image">
                        <img src="/images/trends.jpg" alt="Feature Image 1" class="img-fluid">
                    </div>
                    <div class="col-lg-9 feature-content">
                        <h3>Stay Up-to-Date with the Latest Tech Trends</h3>
                        <p class="mb-3">Our dedicated team of tech experts works tirelessly to bring you the most relevant and
                            up-to-date information about the tech industry. From breakthrough innovations to the
                            hottest gadgets, we cover it all.</p>
                    </div>
                </div>
                <div class="row feature">
                    <div class="col-lg-9 feature-content">
                        <h3>Discover In-Depth Tech Reviews</h3>
                        <p class="mb-3">We provide comprehensive and unbiased reviews of the latest tech products and services.
                            Our in-depth analysis helps you make informed decisions before investing in new tech.
                        </p>
                    </div>
                    <div class="col-lg-3 feature-image">
                        <img src="/images/reviews.jpg" alt="Feature Image 2" class="img-fluid">
                    </div>
                </div>
                <div class="row feature">
                    <div class="col-lg-3 feature-image">
                        <img src="/images/about1.png" alt="Feature Image 3" class="img-fluid">
                    </div>
                    <div class="col-lg-9 feature-content">
                        <h3>Learn with Our Tech Guides and Tutorials</h3>
                        <p class="mb-3">Whether you're a beginner or an advanced user, our detailed tech guides and tutorials
                            will help you enhance your tech skills and make the most of the tools and technologies
                            available.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>