<div class="about-contact-div">
    <header class="bg-dark text-white py-3 contact-about-header">
        <div class="container text-center">
            <h1 class="display-4 fw-normal">Contact Us</h1>
        </div>
    </header>

    <!-- Content -->
    <div class="container pb-5">
        <div class="row my-4">
            <div class="col-lg-6 my-3">
                <h2>Contact Information</h2>
                <p>We'd love to hear from you! Get in touch with us using the contact information provided below:</p>
                <ul class="list-unstyled">
                    <li>
                        <h5><i class="bi bi-geo-alt-fill"></i> Address</h5>
                        <p>123 Tech Street, New Delhi, India</p>
                    </li>
                    <li>
                        <h5><i class="bi bi-envelope-fill"></i> Email</h5>
                        <p>techsphere@gmail.com</p>
                    </li>
                    <li>
                        <h5><i class="bi bi-telephone-fill"></i> Phone</h5>
                        <p>+91 974-456-7890</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 my-3">
                <h2>Reach Out to Us</h2>
                <p>Have a question or feedback? Feel free to reach out to us using the form below:</p>
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Your Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Your Message</label>
                        <textarea class="form-control" id="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn submit-color w-100">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>